<h1>what's this</h1>
<p>
  Source code: <a href="https://github.com/uu59/twfeed">https://github.com/uu59/twfeed</a>
</p>

<p>
  <a href="https://dev.twitter.com/blog/changes-coming-to-twitter-api">Twitterがすべてのエンドポイントに認証を要求するようになる</a>けど検索結果をフィードで読みたいみたいなの。
</p>

<form action="/feed" method="get">
  <table>
    <%= tr("Consumer key", "consumer", session[:consumer] || ENV["consumer"]) %>
    <%= tr("Consumer secret", "consumer_secret", session[:consumer_secret] || ENV["consumer_secret"]) %>
    <%= tr("Access token", "token", session[:token]) %>
    <%= tr("Access token secret", "secret", session[:secret]) %>
    <tr>
      <th>method</th>
      <td>
        <select name="method">
          <option <%== params[:method] == "search" ? 'selected="selected"':'' %> value="search">search</option>
          <option <%== params[:method] == "list" ? 'selected="selected"':'' %> value="list">list</option>
        </select>
        <div id="contextual">
        </div>
      </td>
    </tr>
  </table>
  <input type="submit" value="get feed" onclick="this.parentNode.target='_blank';" />
  <input type="submit" value="get token" onclick="this.parentNode.action='/oauth/request';" />
</form>


<div id="methods" style="display: none">
  <div class="search">
    q: <input value="<%== params[:query][:q] %>" type="text" name="query[q]" placeholder="Search query: e.g. 'sinatra lang:ja'" />
  </div>
  <div class="list">
    <p>
      include RT: <input <%== params[:query][:include_rts] == "t" ? 'checked="checked"':'' %> type="checkbox" name="query[include_rts]" value="t" />
    </p>
    <p>
      owner screen_name: <input value="<%== params[:query][:owner_screen_name] %>" type="text" name="query[owner_screen_name]" placeholder="e.g.: twitter" />
    </p>
    <p>
      slug: <input value="<%== params[:query][:slug] %>" type="text" name="query[slug]" placeholder="e.g.: team" />
    </p>
  </div>
</div>

<script>
  var select = document.querySelector('select[name="method"]');
  function changedMethod() {
    var opt = select.options[select.selectedIndex];
    var src = document.querySelector('#methods .' + opt.value);
    document.querySelector('#contextual').innerHTML = "";
    document.querySelector('#contextual').appendChild(src.cloneNode(true));
  }
  select.addEventListener('change', changedMethod);
  changedMethod();
</script>

<% if @error %>
  <div class="error">
    <h2><%== @error %></h2>
    <pre>
<%== @ex %>
    </pre>
  </div>
<% end %>
